# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# build artifacts
upcloud-box

# local runtime files
.upcloud-box.state.json
upcloud-box.yaml

# local secrets
.env.prod
